nav.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: var(--nav-background);
    border-bottom: 1px solid var(--border);
    color: var(--text-off);
}
nav.navbar .navbar-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
}

img.logo {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 17px;
    left: 0;
    margin: 18.5px 20px;
    margin-left: 0px;
    transition: all 0.2s ease-in;
}

img.logo:first-child {
    opacity: 1;
}

img.logo:last-child {
    opacity: 0;
}

.nav-text-hover {
    display: block;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s ease-in;
    line-height: 54px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav.navbar .nav-active {
    color: var(--text-on);
}

nav.navbar #nav-strip {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--decoration);
    transition: all 0.2s ease-in;
}

#nav-mobile-menu {
    display: none;
    margin: 0 !important;
    margin-right: -14px !important;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#nav-mobile-menu ul {
        position: absolute;
        z-index: 100;
        display: flex;
        min-width: 180px;
        flex-direction: column;
        border-radius: 0.5rem;
        border: 1px solid var(--border);
        background-color: var(--background);
        padding: 0.5rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        max-height: max-content;
        top: 60px;
        right: 10px;
        text-align: center;
}

#nav-mobile-menu .bg-menu-layer {
    position: absolute;
    z-index: 50;
    top: 55px;
    right: 0;
    width: 100vw;
    height: 100vh;
}

#nav-mobile-menu ul svg {
    position: absolute;
    font-size: 30px;
    width: 1em;
    height: 1em;
    pointer-events: none;
    fill: var(--background);
    stroke: var(--border);
    stroke-width: 2px;
    right: 5px;
    bottom: 100%;
}

@media (hover: hover) and (pointer: fine) {
    a.logo-container:hover > img.logo:first-child {
        opacity: 0;
    }

    a.logo-container:hover > img.logo:last-child {
        opacity: 1;
    }

    .nav-text-hover:hover {
        color: var(--text-on);
    }
}

@media (max-width: 767px) {
    #nav-desktop-menu {
        display: none;
    }

    #nav-mobile-menu {
        display: flex;
    }
}