#blog .container {
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 4rem;
    margin: auto;
}

#blog .card {
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#blog .card > a {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}

#blog .card > div {
    width: 60%;
    min-width: 40%;
    max-width: 40%;
}

#blog .card:nth-child(2) {
    flex-direction: row-reverse;
}
#blog .card:nth-child(2) > div {
    padding-left: 0;
    padding-right: 1rem;
}

#blog .card img {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}


#about .container {
    margin: auto;
}

#contacts .container {
    display: grid;
    margin: auto;
    grid-template-columns: 40% 60%;
    background-color: var(--decoration);
    background-image: -webkit-linear-gradient(-15deg, var(--decoration) 40%, var(--border) 40%);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#contacts .container div svg {
    fill: var(--border);
    width: 40%;
    height: 100%;
    margin: auto;
}

#contacts .container ul svg {
    fill: var(--text-off);
    margin: 0;
    padding: 0;
    width: 21px;
    height: auto;
}

@media (max-width: 767px) {
    #blog .container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    #blog .card {
        flex-direction: column !important;
        justify-content: space-between;
        row-gap: 1rem;
    }
    #blog .card > a {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    
    #blog .card > div {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }


    #about .container {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    #contacts .container {
        grid-template-columns: 1fr;
        grid-template-rows: 35% 65%;
        padding: 0;
        background-color: var(--decoration);
        background-image: -webkit-linear-gradient(-90deg, var(--decoration) 35%, rgb(35,35,35) 35%);
    }

    #contacts .container div svg {
        width: 25%;
        padding: 1.5rem 0;
    }

    #contacts .container ul {
        padding: 2.5rem 1.5rem;
    }

    #contacts .container li {
        margin-left: 0 !important;
    }
}