---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import About from '../components/About'
import ContactCard from '../components/ContactCard'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:only="react" />

		<main>
			<Hero />
			<Section id='portfolio' title='Portfolio'>

			</Section>
			<Section id='about' title='About me'>
				<About client:load />
			</Section>

			<Section id='contacts' title='contacts'>
				<ContactCard client:load />
			</Section>
		</main>

		<Footer />
	</body>
</html>
