---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro'
import HomeSection from '../components/HomeSection.astro'
import HomeBlog from '../components/HomeBlog'
import About from '../components/About'
import ContactCard from '../components/ContactCard'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import MotionHorizontal from '../components/motion/MotionHorizontal';
import Button from '../components/Button'

import '../styles/index.css'

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => {
		if(a.data.updatedDate && b.data.updatedDate)
			return a.data.updatedDate.valueOf() - b.data.updatedDate.valueOf()
		else if(a.data.updatedDate)
			return a.data.updatedDate.valueOf() - b.data.pubDate.valueOf()
		else if(b.data.updatedDate)
			return a.data.pubDate.valueOf() - b.data.updatedDate.valueOf()
		else
			return a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	}
).reverse().slice(0,3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:only="react" />

		<main>
			<Hero />

			<HomeSection id='blog' title='Blog'>
				<HomeBlog posts={posts} client:load />
			</HomeSection>

			<HomeSection id='about' title='About me'>
				<About client:load />
			</HomeSection>

			<HomeSection id='contacts' title='contacts'>
				<ContactCard client:load />
			</HomeSection>
		</main>

		<Footer />
	</body>
</html>
